extends ./user/header.pug
block content
    .images-cover.center
        h1.title Welcome to my website!
        if user
            a.register.center.btn(href='/auth/register' role='button') Join Now!