
extends ./header.pug
block content
    h1 Detail
    .container.pt-max
        form.center(action="/users/create", method="POST")
            .form-create
                .form-group
                    label(for='name') Name
                    input#name.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter name' name="name" disabled value=user?user.name: '')
                .form-group
                    label(for='email') Email
                    input#email.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter email' name="email" disabled value= user? user.email : '')
                    small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                .form-group
                    label(for='phone') Phone
                    input#phone.form-control(type='text' placeholder='Phone number' name="phone" disabled value=user ? user.phone : '')
                a.btn.btn-secondary(href='/users/' role='button') Back
                a.btn.btn-primary.ml-3(href=`/users/view/edit/${user.id}` role='button') Edit