html
    head
        title My Site - NodeJS
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        link(rel='stylesheet' href='/styles/index.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.custom-header
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                       a.navbar-brand(href='/')
                            img.d-inline-block.align-top.mr-3(src='/images/icon-home.png' width='30' height='30' alt='Home')
                            |    Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/users') Users
            if user
               ul.navbar-nav
                    li.nav-item.dropdown
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        img.rounded-circle(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg' width='40' height='40')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(href='/auth/logout') Log Out
                
        block content

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
